<div class="col-12">
  <p-messages [(value)]="messages" [enableService]="false" />
</div>
<div class="grid p-fluid">
  <div class="col-12">
    <div class="card">
      <h5>Lista de clientes</h5>
      <p-table #dt [value]="listClient" [paginator]="true"
               [rows]="5"
               [tableStyle]="{ 'min-width': '50rem' }"
               [rowsPerPageOptions]="[5, 10, 20]" selectionMode="single"
               scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap gap-2 align-items-center justify-content-end">
            <button (click)="navigateToNewClient()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus" label="Agregar nuevo cliente"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ACCION</th>
            <th class="font-bold">ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>CORREO ELECTRONICO</th>
            <th>TELEFONO</th>
            <th>FECHA CREACION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr [pSelectableRow]="data">
            <td>
              <button (click)="navigateToUpdateCustomer(data.id)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
              <button (click)="deleteClient(data.id)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-warning ml-3"></button>
            </td>
            <td  class="font-bold">{{data.id}}</td>
            <td>{{data.nombre}}</td>
            <td>{{data.apellido}}</td>
            <td>{{data.email}}</td>
            <td>{{data.telefono}}</td>
            <td>{{data.fecha_registro | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
